# ROS build and install directories
build/
devel/        
install/      

# ROS log files
log/

# Ignore temporary files
*.pyc
*.swp
*.swo
*.DS_Store

# PlatformIO
.pio/
.vscode/

# Python
__pycache__/
*.py[cod]
