# ROS build and install directories
build/
devel/        
install/      

# ROS log files
log/

# Ignore temporary files
*.pyc
*.swp
*.swo
*.DS_Store

# PlatformIO
.pio/
.vscode/

# Python
__pycache__/
*.py[cod]

# C++ Compiled Object files
*.o
*.obj

# Static libraries (usually generated during build)
*.a
*.lib

# Editor temp files
*~
*.swp

# Generated CMake files (in case they appear in src)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
