ament_copyright==0.12.14
ament_flake8==0.12.14
ament_index_python==1.4.0
ament_pep257==0.12.14
builtin_interfaces==1.2.2
control_msgs==4.8.0
cv_bridge==3.2.1
dlib==20.0.0
Flask==2.0.1
flask_cors==6.0.2
flask_socketio==5.6.0
geometry_msgs==4.9.0
launch_ros==0.19.12
matplotlib==3.5.1
mediapipe==0.10.32
moveit_configs_utils==2.5.9
moveit_msgs==2.2.1
numpy==1.21.5
octomap_msgs==2.0.1
opencv_python_headless==4.12.0.88
Pillow==9.0.1
Pillow==12.1.1
pyserial==3.5
pytest==6.2.5
pyzbar==0.1.9
qrcode==8.2
rclpy==3.3.17
rosidl_parser==3.1.7
rospkg_modules==1.6.0
sensor_msgs==4.9.0
setuptools==58.2.0
setuptools==59.6.0
shape_msgs==4.9.0
std_msgs==4.9.0
std_srvs==4.9.0
tf2_geometry_msgs==0.25.16
tf2_ros_py==0.25.16
trajectory_msgs==4.9.0
visualization_msgs==4.9.0
