<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="base">
        <material>Gazebo/Green</material>
        <self_collide>false</self_collide>
    </gazebo>
    <gazebo reference="base_link">
        <material>Gazebo/Green</material>
        <self_collide>false</self_collide>
    </gazebo>
    <gazebo reference="link_1_shoulder">
        <material>Gazebo/Green</material>
        <self_collide>false</self_collide>
    </gazebo>
    <gazebo reference="link_2_elbow">
        <material>Gazebo/Green</material>
        <self_collide>false</self_collide>
    </gazebo>
    <gazebo reference="link_3_wrist">
        <material>Gazebo/Green</material>
        <self_collide>false</self_collide>
    </gazebo>
    <gazebo
        reference="link_3_wrist_to_gripper_base_joint">
        <material>Gazebo/Green</material>
        <self_collide>false</self_collide>
    </gazebo>
    <gazebo reference="left_finger_joint">
        <material>Gazebo/Green</material>
        <self_collide>false</self_collide>
    </gazebo>
    <gazebo>
        <plugin name="gazebo_ros_joint_state_publisher"
            filename="libgazebo_ros_joint_state_publisher.so">
            <update_rate>20</update_rate>
            <joint_name>base_link_joint</joint_name>
            <joint_name>link_1_shoulder_joint</joint_name>
            <joint_name>link_2_elbow_joint</joint_name>
            <joint_name>link_3_wrist_joint</joint_name>
            <joint_name>link_3_wrist_to_gripper_base_joint</joint_name>
            <joint_name>left_finger_joint</joint_name>
        </plugin>
    </gazebo>
    <gazebo>
        <plugin name="gazebo_ros_joint_pose_trajectory"
            filename="libgazebo_ros_joint_pose_trajectory.so">
            <update_rate>20</update_rate>
        </plugin>
    </gazebo>


    <!-- <gazebo>
        <plugin name="gazebo_ros2_control"
            filename="libgazebo_ros2_control.so">

            <parameters>$(arg controller_config_path)</parameters>

        </plugin>
    </gazebo> -->

</robot>