<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="visiona">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import visiona urdf file -->
    <xacro:include filename="$(find visiona_bridge)/urdf/visiona.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="visiona.ros2_control.xacro" />


    <xacro:visiona_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
